:root {
--bg-body: hsl(30, 54%, 90%);
--bg-prep: hsl(330, 100%, 98%);
/* FONT SIZE */
--fs-title: 2rem;
--fs-subtitle: 1rem;
/* FONT COLOR */
--fc-purple: hsl(332, 51%, 32%);
--fc-subtitle: hsl(14, 45%, 36%);
--fc-general: hsl(30, 10%, 34%);
--fc-title: hsl(24, 5%, 18%);
}
* {
    margin: 0;
    padding: 0;
}
/* FONT SETUP */

/* .young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* UTILITY */

html, body {
    overflow-x: hidden;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1 {
    font-family: "Young Serif", serif;
    font-size: var(--fs-title);
    font-weight: 400;
}
h2 {
    color: var(--fc-purple);
}
hr {
    color: lightgray;
}
li {
    padding: 0.625em;
}
ul, ol {
    padding: 1em;
}
ul {
    list-style-type: circle 3px var(--fc-subtitle);
}
li::marker {
    color: var(--fc-subtitle);
}

/* PAGE LAYOUT */

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg-body);
    color: var(--fc-general);
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
}
.main {
    background-color: white; 
}
.wrapper {
    padding: 1.5em 1.87em 0;
}
@media (min-width: 62.5em) {
    body {
        width: 740px;
        margin: 2em auto;
    }
    .main {
        border-radius: 15px;
    }
}
/* HEADER  */

.header-image img {
    display: block;
}
.recipe-image {
    width: 100%;
}
.header-image.wrapper {
    padding: 0;
}

@media (min-width: 62.5em) {
    .header-image.wrapper {
        padding: 1.87rem;
    }
    .recipe-image{
    border-radius: 15px;
    }
}

/* RECIPE INTRO */

.recipe-intro h1 {
    font-size: var(--fs-title);
    color: var(--fc-title);
    padding-bottom: 1rem;
}
.recipe-intro p {
    padding-bottom: 2rem;
}

/* PREP BOX */

.prep-box {
    background-color: var(--bg-prep);
    padding: 1rem;
    border-radius: 10px;
}
.prep-box span {
    font-weight: bold;
}

/* INGREDIENT LIST  */

.ingredients h1 {
    color: var(--fc-subtitle);
}

/* COOKING INSTRUCTIONS */

.instructions h1 {
    color: var(--fc-subtitle);
}
.instructions span {
    color: var(--fc-general);
}
.instructions span:last-child {
    font-weight: normal;
}
.instructions ol {
    color: var(--fc-subtitle);
    font-weight: bold;
}

/* NUTRITION INFO */

.nutrition {
    padding-bottom: 3em;
}
.nutrition h1 {
    color: var(--fc-subtitle);
    padding-bottom: 0.5em;
}
.nutrition p {
    padding-bottom: 0.75em;
}
.nutrition table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
}
.nutrition td {
    border: none;
    padding: 10px 30px;
    border-bottom: 1px solid lightgray;
}
.nutrition td:nth-child(2) {
    color: var(--fc-subtitle);
    font-weight: bold;
}